<html lang='en' id='theme'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='/css/reset.css' />
		<link rel='stylesheet' href='/css/style.css' />
		<script src='/js/theme.js'></script>
		<link rel='icon' type='image/x-icon' href='/assets/favicon.png' />
		<title>Intellib</title>
	</head>
	<body>

		<header id='theme'>

			<div class='top'>
				<div class='themes'>
					<p id='dark_theme' onclick='functionClick()'>Dark</p>
					<p id='theme_slash'>/</p>
					<p id='light_theme' onclick='lighttheme()'>Light</p>
				</div>
				<h1 class='title'>Intelligence Library</h1>
			</div>

			<nav class='list'>
				<button id='odd'><a href='/'>Username</a></button>
			</nav>
		</header>

		{{{body}}}
	</body>
</html>