<main>
	<h2 class='main_content'>
		Intelligence Library is a Database of different discipline types of
		Intelligence
		<br />
		for example: OSINT, HUMINT, SIGINT, IMINT, GEOINT, etc...
		<br />
		Here are all kinds of resources for Investigating anything/anyone
		<br />
		If you have any questins or need help, here are few Good Discord Servers you
		can ask for help and share thoughts!
		<br />
		Good Luck!
	</h2>

	<div class='discord_links'>

		<a href='https://discord.gg/projectowl' target='_blank'>
			<img
				class='block_N1'
				src='/assets/owl.jpg'
				width='300rem'
				height='150rem'
			/>
		</a>

		<a href='https://discord.gg/tracelabs' target='_blank'>
			<img
				class='block_N2'
				src='/assets/labs.jpg'
				width='300rem'
				height='150rem'
			/>
		</a>

		<a href='https://discord.gg/nRHEaZXSM6' target='_blank'>
			<div class='osint_HQ_cover'>
				<div class='osint_HQ_text'>
					<img src='/assets/hq.jpg' width='100rem' height='90rem' />
					OSINT HQ
				</div>
			</div>
		</a>
	</div>
</main>